<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <!-- Web Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Hind:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400i" rel="stylesheet">
    <!-- Bootstrap core CSS-->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <!-- Icon Fonts-->
    <link href="~/Content/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/linea-arrows.css" rel="stylesheet">
    <link href="~/Content/linea-icons.css" rel="stylesheet">
    <!-- Plugins-->
    <link rel="stylesheet" href="~/Content/owl.carousel.css" type="text/css">
    <link rel="stylesheet" href="~/Content/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="~/Content/vertical.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content/pace-theme-minimal.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/animate.css" type="text/css" />

    <!-- Template core CSS-->
    <link rel="stylesheet" href="~/Content/template.css" type="text/css" />


</head>




<!-- Page Header-->
<section class="module-header full-height parallax bg-dark bg-gradient" data-background="assets/images/module-5.jpg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="h1">Create Your Stunning</h1>
                <h1 class="h1 m-b-15">Website in minutes</h1>
                <p class="m-b-30">Start with co-working way in our studio.</p>
                <p>
                    <a class="btn btn-lg btn-circle btn-white" href="#">Get Pricing</a>
                    <a class="btn btn-lg btn-outline btn-circle btn-white" href="#">Learn More</a>
                </p>
            </div>
        </div>
    </div>
</section>
<!-- Page Header end-->

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            \\***TEST DATA***//
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>\\***TEST DATA***// NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>\\***TEST DATA***// You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
</html>